@import './base.css';
a,
.green {
  text-decoration: none;
  color: #00bd7e;
  transition: 0.4s;
  padding: 3px;
}

body{
  background-image: url('/portfolio/background1.webp');
  background-size: contain;
  background-position: center;
}


